# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
admin/.next/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# build artifacts
*.apk
app.apk
build-*.apk

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

#secret files
secrets/firebase-debug.log
.env
firebase-debug.log
secrets/
secrets/
