rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isImageUpload() {
      return request.resource.size < 10 * 1024 * 1024 &&
        request.resource.contentType.matches('image/.*');
    }

    match /projects/{userId}/{fileName} {
      allow read: if true;
      allow write: if isOwner(userId) && isImageUpload();
    }
  }
}
